.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form-title {
  margin: 1rem 0;
  color: #888;
  font-size: 2.5rem;
}

input {
  margin-right: 2rem;
  padding: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  outline: none;
}

input::placeholder {
  font-size: 1.6rem;
  color: #c4c4c4;
}

.input-book {
  width: 60%;
}

.input-author {
  width: 20%;
}

.submit-btn {
  padding: 1rem;
  background-color: #0290ff;
  color: #fff;
  width: 15.3%;
  border-radius: 4px;
  font-weight: 400;
  margin: 0;
}
