* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.main-head {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

article {
  border: 2px solid gray;
  margin: 1px;
}
